:root{
    --wrn1:rgb(255, 167, 167);
    --wrn2: rgb(248, 117, 117);
    --wrn3: rgb(236, 75, 75);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
header nav ul li{
    display: inline;
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
header nav ul li a:hover{
    color: rgb(255, 185, 185);
    transition: 0.6s;
}
nav{
    background-color: rgb(236, 75, 75);
    padding: 20px 0 20px 30px;
    position: sticky;
    top: 0;
}
header{
    display: inline;
}
article{
    padding: 20px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: 50px 20px 20px 50px;
    border-radius: 10px;
}
article h3,img,p{
    margin-top: 20px;
    border-radius: 10px;
}
article .gambar img{
    width: 100%;
    min-height: 280px;
    transition: 1s;
}
article .gambar img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    transition: 1s;
}
.judul{
    background-color: rgb(255, 167, 167);
    color: #ffffff;
    padding: 100px;
    text-align: center;
    transition: all 0.6s ease-out;
}
.gambar{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    padding: 0;
    margin: 0;
}
footer{
    margin-top: 50px;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: rgb(236, 75, 75);
    color: #ffffff;
}
aside{
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 20px 30px 50px 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    float: right;
    margin: 50px 50px 20px 10px;
}
aside .diri img{
    width: 60%;
    border-radius: 100%;
}
#content{
    width: 70%;
    float: left;
}
main{
    overflow: auto;
}

.diri h3{
    margin: 20px 0 30px 0;
}
.diri p{
    line-height: 10px;
}
@media(max-width: 1199px){
    #content{
        margin: auto;
        width: 90%;
        float: none;
    }
    aside{
        float: none;
        width: auto;
        margin: 50px 70px 20px 100px;
        padding: auto;
    }
    aside .diri img{
        width: 30%;
    }
}
@media(max-width: 650px){
    article .gambar img{
        width: 100%;
        min-height: 200px;
        transition: 1s;
    }
}
@media(max-width: 500px){
    article .gambar img{
        width: 100%;
        min-height: 180px;
        transition: 1s;
    }
    #content{
        margin-right: 50px;
    }
    aside{
        margin: 50px 50px 20px 50px;
    }
    aside .diri img{
        width: 70%;
    }
    nav{
        text-align: center;
    }
    footer{
        font-size: 15px;
    }
}
@media(max-width: 400px){
    article .gambar img{
        width: 0;
        min-height: 0;
    }
    footer{
        font-size: 13px;
    }
}